<div class="Tag">
    <!-- :class="'error':tag.level === 'error'"  -->
    <el-tag :key="$index" v-for="(tag,$index) in tags" closable :disable-transitions="false" @close="closeTag(tag,$index)">
        {{tag}}
    </el-tag>
    <el-input class="input-new-tag" v-if="inputVisible" v-model="title" size="small" @keyup.enter.native="handleInputConfirm"
        @blur="handleInputConfirm">
    </el-input>
    <el-button v-else v-show="addFlag" class="button-new-tag" size="small" @click="inputVisible = true">{{addTagText}}</el-button>
</div>