.sourceTag
    margin-top 10px
    align-self flex-start
    display flex
    .el-textarea__inner
        height 75px
    .el-tag
        margin-left 10px
        overflow hidden
        width 120px 
        text-overflow ellipsis 
        white-space: nowrap
        position relative
        .el-tag__close
            position absolute
            top 8px
            right  5px

    .button-new-tag 
        margin-left 10px
        height 32px
        line-height 30px
        padding-top 0
        padding-bottom 0
    .input-new-tag 
        width 90px !important
        margin-left 10px
        vertical-align bottom