<div class="website-message">
    <div class="panel">
        <ModuleTitle :titles="['网站详情']" />
        <ul class="basicmessage">
            <li>
                <div class="label">网站名称:</div>
                <div class="message">{{ WebsiteInfo.name }}</div>
            </li>
            <li>
                <div class="label">网站域名:</div>
                <div class="message">{{ WebsiteInfo.domain }}</div>
            </li>
            <li>
                <div class="label">创建人:</div>
                <div class="message">{{ WebsiteInfo.cperson }}</div>
            </li>
            <li>
                <div class="label">所属行业:</div>
                <div class="message">{{ WebsiteInfo.industry }}</div>
            </li>
            <li>
                <div class="label">协议类型:</div>
                <div class="httpType">
                        <div class="message" v-if="WebsiteInfo.port.http_port.length !== 0">http: {{ httpString }}</div>
                        <div class="message" v-if="WebsiteInfo.port.https_port.length !== 0">https: {{ httpsString }}</div>
                </div>
            </li>
            <li>
                <div class="label">回源方式:</div>
                <div class="message">{{ WebsiteInfo.source_type ==="回源IP"?"回源IP":"回源域名" }}</div>
            </li>
            <li>
                <div class="label">回源地址:</div>
                <div class="message">{{ sourcenfoString }}</div>
            </li>
            <li>
                <div class="label">CNAME别名:</div>
                <div class="message">{{ WebsiteInfo.cname }}</div>
            </li>
            <li>
                <div class="label">创建时间:</div>
                <div class="message">{{ 
                    WebsiteInfo.ctime|date
                }}</div>
            </li>
            <li>
                <div class="label">接入状态:</div>
                <div class="message">{{ WebsiteInfo.state}}</div>
            </li>
            <li>
                <div class="label">防御状态:</div>
                <div class="message">{{ WebsiteInfo.open_waf}}</div>
            </li>
        </ul>

        <ModuleTitle :titles="['服务信息']" />

        <ul class="basicmessage">
            <li>
                <div class="label">服务项:</div>
                <div class="server" style="color:#999">
                    <div>Web应用防火墙:{{ WebsiteInfo.service.waf_enable==="1"?"开启":"关闭" }}</div>
                    <div>CC防御:{{ WebsiteInfo.service.ads_enable==="1"?"开启":"关闭" }}</div>
                    <div>网站替身:{{ WebsiteInfo.service.mirror_enable==="1"?"开启":"关闭" }}</div>
                    <div>网站加速:{{ WebsiteInfo.service.cdn_enable==="1"?"开启":"关闭" }}</div>
                </div>
            </li>
        </ul>
    </div>
</div>