.tree-part
    display flex
    flex-direction column
    flex 1 0 auto
    overflow hidden
    // >.btn-group
    //     display flex
    //     margin 10px
    //     justify-content space-around
    //     height 40px
    >.el-input
        line-height 0
    >.tree-panel
        display flex
        flex 1 0 auto
        >.el-tree
            position relative
            display flex
            flex 1 0 auto
            overflow auto
            >.el-tree-node
                position absolute
                display flex
                flex 1 0 auto
                flex-direction column
            .editor
                &:hover
                    .btn-group-jt
                        display flex
            .treeli
                display flex
                justify-content flex-start
                flex 0 0 auto
                width 278px
                &:hover

                >.label
                    display flex
                    align-items center
                >.btn-group-jt
                    margin-left 10px
                    display none
                    position relative
                    >.iconfont
                        margin-right 10px
