.tree-part
    display flex
    flex-direction column
    flex 1 0 auto
    overflow hidden
    >.btn-group
        display flex
        margin 10px
        justify-content space-around
        height 40px
    >.el-input
        line-height 0
    >.tree-panel
        display flex
        overflow auto
        flex 1 0 auto
        position relative
        >.el-tree
            position absolute
            left 0
            top 0
            bottom 0
            right 0
            .editor
                &:hover
                    .btn-group-jt
                        display flex
            .treeli
                display flex
                justify-content space-between
                flex 1 0 auto
                &:hover

                >.label
                    display flex
                    align-items center
                >.btn-group-jt
                    display none
                    position relative
                    >.iconfont
                        margin-right 10px
