<div>
         <el-popover ref="popover_acate" placement="bottom" :visible-arrow="false" width="216" trigger="click" popper-class="orgPopover">
            <el-tree
              :data="data2"
              show-checkbox
              node-key="id"
              :default-expanded-keys="[2, 3]"
              :default-checked-keys="[5]"
              :props="defaultProps">
            </el-tree>          
          </el-popover>
          <el-input :value="TypeName" readonly class="popoverBtn" icon="el-input__icon el-icon-caret-bottom"
            v-popover:popover_acate placeholder="请选择事件类型">
          </el-input>
</div>