@import "../../resource/var.styl" 
  
html,body
    margin 0
    padding 0
    display flex
    flex 0 0 auto
    height 100%
    flex-direction column
    >.panel
        display flex
        flex 1 0 auto
        >.el-container
            flex-direction column
            >.el-container
                >.el-aside 
                    background-color #1c415e
                    color #333
                    text-align center
                >.el-container
                    flex-direction column
                    >.el-main
                        padding 20px 20px 0px 20px
                        background-color $footer-color
                        color #333
                        text-align center
                        display flex
                        flex 1 0 auto
                        flex-wrap wrap
                        flex-direction column

  

  

  
