.user-pwd
    display flex
    margin-top 80px
    >.usermessage
        height 350px
        width 350px
        display flex
        flex-direction column
        background #fafafa
        margin-left 100px
        >div
            height 200px
            font-size 140px
            line-height 200px
        >.name
            margin 0
            font-size 24px
        >.level
            margin-bottom 0
        >.company
            margin-top 10px
    >.form
        height 350px
        margin-left 60px
        flex 1 0 auto
        >.el-form
            width 400px
            >.el-form-item
                &:last-child
                    >.el-form-item__content
                        float left
