@import "../../resource/mixins.styl"

.user-message
    common-panel(0,20px)
    flex-direction column
    >.panel
        position absolute
        width 100%
        >.basicmessage
            list-style none
            padding 0
            margin 0 0 0 0
            >li
                margin 20px
                display flex
                justify-content flex-start
                align-items middle
                >div
                    min-width 120px
                    &:first-child
                        text-align right
                        margin-right 10px
                    &:last-child
                        text-align left
                        color #cccccc
                >.server
                    display flex
                    >div
                        margin-right 30px        
    

