.organization
    background-color #ffffff
    display flex
    flex 1 0 auto
    // flex-wrap wrap
    >.select-part
        padding 0 20px
        width 300px
        display flex
        flex 0 0 auto
        flex-direction column            
    >.form-part
        display flex
        flex 1 1 auto
        flex-direction column
        margin 0 20px
        .el-form-item__content
            display flex

