.organization
    height 100%
    display flex
    >.select-part
        padding-right 20px
        width 300px
        display flex
        flex 0 0 auto
        flex-direction column            
    >.form-part
        display flex
        flex 1 1 auto
        flex-direction column
        .el-form-item__content
            display flex

