.organization
    background-color #ffffff
    display flex
    flex 1 0 auto
    >.tree-part
        width 400px
        display flex
        flex-direction column
        >.btn-group
            display flex
            margin 10px
            justify-content space-around
        >.el-input
            margin-top 20
            line-height 0

    >.form-part
        display flex
        flex 1 0 auto
        flex-direction column
        margin 0 20px

