<div class="user-manage">
    <ImportUserFrame :dialogVisible="dialogVisible" @close="close"/>
    <div class="select-part">
        <ModuleTitle :titles="['组织机构列表']" />
        <TissueTree :editor="false" />
    </div>
    <div class="form-part">
        <ModuleTitle :titles="['企业详情', 'test']" />
        <el-form :inline="true" :model="formInline" class="demo-form-inline" label-width="80px">
            <el-form-item label="用户名">
                <el-input v-model="formInline.user" placeholder="审批人"></el-input>
            </el-form-item>
            <el-form-item label="用户角色">
                <el-input v-model="formInline.user" placeholder="审批人"></el-input>
            </el-form-item>
            <el-form-item label="手机号码">
                <el-input v-model="formInline.user" placeholder="审批人"></el-input>
            </el-form-item>
            <el-form-item label="邮箱">
                <el-select v-model="formInline.region" placeholder="活动区域">
                    <el-option label="区域一" value="shanghai"></el-option>
                    <el-option label="区域二" value="beijing"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="创建时间">
                <el-input v-model="formInline.user" placeholder="审批人"></el-input>
            </el-form-item>
            <el-form-item label="到期时间">
                <el-input v-model="formInline.user" placeholder="审批人"></el-input>
            </el-form-item>
            <el-form-item label="状态">
                <el-select v-model="formInline.region" placeholder="活动区域">
                    <el-option label="区域一" value="shanghai"></el-option>
                    <el-option label="区域二" value="beijing"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="el-icon-search"  @click="onSubmit">搜索</el-button>
                <el-button>重置</el-button>
            </el-form-item>
        </el-form>
        <div class="btn-group">
            <div class="btn-first">
                <el-button type="primary" @click="go('add')">
                    <span class="iconfont">&#xe61a;</span>
                    添加
                </el-button>
                <el-button type="primary" @click="importUser()">
                    <span class="iconfont">&#xe61b;</span>
                    导入
                </el-button>
                <el-button type="primary" @click="">
                    <span class="iconfont">&#xe61e;</span>
                    导出
                </el-button>
                <el-button type="primary" @click="">
                    <span class="iconfont">&#xe61e;</span>
                    导出所有
                </el-button>
            </div>
            <div class="btn-last">
                <SetCol :columns="columns"/>
            </div>
        </div>
        <CloudTable 
            :columns="columns" 
            :datas="datas"
            @handleSizeChange="handleSizeChange"
            @handleCurrentChange="handleCurrentChange"
            @handleSelectionChange="handleSelectionChange"
            >
            <el-table-column fixed type="selection" width="55" slot="type">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <i style="cursor:pointer" class="iconfont" @click="go('editor',{$index:scope.$index, row:scope.row})">&#xe604;</i>
                    <i style="cursor:pointer" class="iconfont" @click="go('changepwd',{$index:scope.$index, row:scope.row})">&#xe603;</i>
                    <i style="cursor:pointer" class="iconfont" @click="go('del',{$index:scope.$index, row:scope.row})">&#xe601;</i>
                </template>
            </el-table-column>
        </CloudTable>
    </div>
</div>