@import "../../resource/mixins.styl"

.user-manage
    common-panel(0,20px)
    // flex-wrap wrap
    >.select-part
        padding-right 20px
        width 300px
        display flex
        flex 0 0 300px
        flex-direction column      
        // flex-wrap wrap      
    >.form-part
        display flex
        flex 0 1 auto
        flex-direction column
        .el-input__inner
            width 200px
        .el-date-editor
            width auto !important
        // margin-right 20px
        // flex-wrap wrap
        >.btn-group
            display flex
            flex 0 0 auto
            justify-content space-between
            align-items center
            >div
                display flex
                cursor pointer
        >.el-form--inline
            display flex
            flex 0 1 auto
            flex-wrap wrap
            >.el-form-item
                &:last-child
                    padding-left 20px