.user-manage
    display flex
    flex 1 0 auto
    height 100%
    >.select-part
        padding-right 20px
        width 300px
        display flex
        flex 0 0 300px
        flex-direction column      
    >.form-part
        display flex
        flex-direction column
        >.btn-group
            display flex
            flex 0 0 auto
            justify-content space-between
            align-items center
            >div
                display flex
                cursor pointer
        >.el-form--inline
            display flex
            flex 0 1 auto
            flex-wrap wrap
            .el-input__inner
                width 200px
            .el-date-editor
                width auto !important
            >.el-form-item
                &:last-child
                    padding-left 20px