@import "mixins.styl"

.website-detail
    common-panel(0,20px)
    >.detail-content
        position absolute
        display flex
        flex-direction column
        width 100%
        >.title-box
            height 35px;
            margin-top 10px
            align-self left 
        >.choose-box
            height 70px
            width 100%
            border-bottom 1px solid #cccccc
            position relative
            >.el-radio-group
                position absolute
                top 50%
                left 0
                transform translate(0,-50%)
                >.el-radio-button
                    margin-right 20px
                    width 92px
                    border 1px solid #dcdfe6
                    border-radius 5px
                    >.el-radio-button__inner
                        width 92px
                        border none !important
                        border-radius 5px
        >.list-box
            display flex
            flex-direction column
            >.list-top
                margin 20px 0
                height 250px
                >.top-left
                    height 100%
                    >.top-left-box
                        height 100%
                        background #f4f5f7
                        margin-right 15px
                        >.top-left-title
                            border: none;
                >.top-right
                    height 100%
                    >.top-right-box
                        height 100%
                        margin-left 15px
                        display flex
                        >.right-box-border
                            border-left: 1px solid #e5e5e5
                        >.right-box-common
                            flex-grow 1
                            background #f4f5f7
                            margin-right: 2px
                            .right-box-title
                                height: 60px;
                                line-height: 71px;
                                font-size: 18px;
                                font-weight: 700;
                            .webdetail-iconfont
                                height 130px
                                >.iconfont-box
                                    >.iconfont
                                        font-size 60px
        >.safe-list,>.speed-list
            >.safe-box,>.speed-box
                display flex
                flex-wrap wrap
                >.flex50-box
                    flex 1 0 26vh
                >.mariginright30
                    margin-right 30px                                



    
