$bg = #000000

.module-title
    display flex
    height 40px
    line-height 0
    align-items center
    border-bottom 1px solid #cccccc
    margin-bottom 10px
    >.icon
        background $bg
        height 20px
        width 10px
        margin-right 10px
    >.title
        color $bg

    