@import "../../../../resource/mixins.styl"

.messagenotice-operation
    common-panel(0,20px)
    >.plane
        width 100%
        display flex
        flex 0 1 auto
        flex-direction column
        >.contentbox
            width: 100%
            display flex
            >.left
                width 300px
                float left 
                height 100px
            >.right
                flex 1




        




        