// @import "../../../../resource/mixins.styl"

.publicnotice-operation
    common-panel(0,20px)
    >.plane
        width 100%
        display flex
        flex 0 1 auto
        flex-direction column
        >.public-notice-form
            >.el-form-item
                width: 600px
            >.btn-content
                text-align left
            >.notice-content
                .ql-container
                    height: 400px    





        




        