@import "../../../../resource/mixins.styl"

.public-notice-operation
    common-panel(0,20px)
    flex-direction column
    padding-left 40px
    overflow auto
    position relative
    >.panel
        position absolute
        width 100%
        >.public-notice-form
            width 1200px
            >.el-form-item
                >.el-form-item__content
                    display flex
                    justify-content flex-start
                    align-items center
                    >.quill-editor
                        width 100%
                        height 400px
                        .ql-toolbar
                            display flex
                        .ql-container
                            height: 350px    
            >.notice-content
                height 420px
                margin-bottom 0px
            >.btn-content
                display flex





        