.notice-send
    height 100%
    >.public-notice-form
        >.el-form-item
            width: 600px
        >.btn-content
            text-align left
        >.notice-content
            .ql-container
                height: 400px    





        




        