<div class="website-operation">
    <UpdateDiploma v-if="dialogVisibleDiploma" :dialogVisible="dialogVisibleDiploma" @close="closeDiploma"  @diplomaCid="diplomaCid"/>
    <div class="panel">
        <ModuleTitle :titles="titles" />
        <el-form size="small" :model="form" :rules="rules" ref="formbasic" label-width="100px" class="website-form">
            <el-form-item label="网站名称" prop="name">
                <el-input v-model="form.name" placeholder="请输入网站名称"></el-input>
            </el-form-item>
            <el-form-item label="网站域名" class="websiteName" prop="domain">
                <el-input v-model="form.domain" placeholder="请输入网站域名"></el-input>
                <div class="websiteNameText">
                    注：如果域名相同，则会同步更新https证书、回源方式、防御状态
                </div>
            </el-form-item>
            <el-form-item label="所属行业" class="webstieIndustry">
                <div>
                    <el-radio-group v-model="form.industry" size="medium">
                        <el-radio-button label="金融" name="金融"></el-radio-button>
                        <el-radio-button label="能源"></el-radio-button>
                        <el-radio-button label="电力"></el-radio-button>
                        <el-radio-button label="军工"></el-radio-button>
                        <el-radio-button label="党政"></el-radio-button>
                        <el-radio-button label="交通"></el-radio-button>
                        <el-radio-button label="广电"></el-radio-button>
                        <el-radio-button label="通信"></el-radio-button>
                        <el-radio-button label="企业"></el-radio-button>
                        <el-radio-button label="其他"></el-radio-button>
                    </el-radio-group>
                </div>
            </el-form-item>
            <el-form-item label="协议类型" class="httpTpye">
                <div class="websiteHttp">
                    <div class="http">
                        <div class="httpTotalBox">
                            <el-checkbox v-model="httpTpye" @change="chooseHttpType">HTTP</el-checkbox>
                            <div class="httpTpyeRemarkBox">
                                <span>
                                    注：1、一个端口只能对应一种协议，一种协议最多10个端口
                                </span>
                                <span class="httpTpyeRemark">
                                    2、支持80、443、[3000-35000]，但3071、5989、10050端口除外
                                </span>
                            </div>
                        </div>
                        <div class="httpTag">
                            <CustomTags v-if="httpTpye" @getTags="gethttpTags" @error="httpError" :tags="httpTags" :total="10" addTagText="请输入Http端口"/>
                        </div>
                    </div>
                    <div class="https">
                        <div class="httpsTotalBox">
                            <el-checkbox v-model="httpsTpye" @change="chooseHttpType">HTTPS</el-checkbox>
                            <div class="httpsTpyeRemarkBox">
                                <el-button type="primary" :disabled="!httpsTpye" @click="handle('updateDiploma')">{{diplomaText}}</el-button>
                            </div>
                        </div>
                        <div class="httpsTag">
                            <CustomTags  v-if="httpsTpye" @getTags="gethttpsTags"  :tags="httpsTags" :total="10" addTagText="请输入Https端口"/>
                        </div>
                    </div>
                </div>
                <div class="websiteHttpRemark">

                </div>

            </el-form-item>
            <el-form-item label="回源方式" class="sourceWay">
                <div class="sourceContent">
                    <el-radio-group v-model="sourceIP" @change="changeSoure">
                        <el-radio :label="0">回源IP</el-radio>
                        <el-radio :label="1">回源域名</el-radio>
                    </el-radio-group>
                    <CustomTags v-show="!sourceIP" @error="sourceIPError" @getTags="getsourceIPTags" :tags="sourceIPData" :total="4"/>
                    <CustomTags v-show="sourceIP" @error="sourceDomainError" @getTags="getsourceDomainTags"  :tags="sourceDomainData":total="4"/>
                </div>

            </el-form-item>
            <el-form-item label="防御状态" class="defenStatus">
                <div class="defenContent">
                    <el-radio-group v-model="form.open_waf">
                        <el-radio :label="'1'">防御</el-radio>
                        <el-radio :label="'0'">回源</el-radio>
                    </el-radio-group>
                </div>
                <div class="defenRemark">
                    <span>
                        注：防御状态为回源时，网站将不再被防御
                    </span>
                </div>
            </el-form-item>
            <el-form-item label="备注" class="website-remark">
                <el-input type="textarea" :rows="2" placeholder="请输入备注内容" v-model="form.remark">
                </el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('formbasic','formserver')">确定</el-button>
                <el-button @click="back()">取消</el-button>
            </el-form-item>

        </el-form>
    </div>
</div>