.header-component
    text-align center
    line-height 60px
    display flex
    flex 0 1 auto
    justify-content space-between
    >.icon
        text-align center
        font-size 50px
        color #ffffff
