.dialog-plane
    >.el-dialog
        .el-dialog__body    
            .defen-frame-box
                display flex
                flex-direction column
                .defen-frame
                    text-align left
                    margin-bottom 10px
    

   