.dialog-plane
    >.el-dialog
        border-radius 20px
        .el-dialog__header
            .iconfont
                color #449dbf
            border-bottom 1px solid #f4f4f4
            text-align left 
            color #00000
            background #f4f4f4            
            border-top-left-radius 20px;
            border-top-right-radius 20px;
        .el-dialog__body    
            .content-box
                display flex
                flex-direction column
                .defen-frame
                    text-align left
                    margin-bottom 10px
    

   