.dialog-plane
    .el-dialog__body    
        .content-box
            display flex
            flex-direction column
            .defen-frame
                text-align left
                margin-bottom 10px
    

   