.dialog-plane
    >.el-dialog
        .el-dialog__body    
            .list-frame-box
                display flex
                flex-direction column
                .list-frame
                    text-align left
                    margin-bottom 10px
                .el-form
                    display flex
                    flex-direction column
                    .list-title
                        text-align left    
    

   