<div class="cloud-table">
    <div class="table-panel">
        <el-table 
            :data="datas" 
            stripe
            @selection-change="handleSelectionChange"
            @sort-change="sortChange"
            height="200px">
            <slot name="type"></slot>
            <el-table-column 
                v-for="(column,$index) in obj.columns" 
                :label="column.label" :prop="column.prop" 
                v-if="column.show"
                :width="column.width?column.width:'auto'"
                :sortable="column.sortable?column.sortable:false"
                align="center"
                header-align="center"
                :key="$index">
                <template slot-scope="scope">
                    <span v-if="column.type==='date'" class="ellipsis" :title="scope.row[column.prop]">{{scope.row[column.prop] | date | none}}</span>     
                    <span v-else-if="column.type==='website_server'">
                        <p class="ellipsis turn_left margin5-0" :title="scope.row[column.prop].waf_enable==='1'?'开启':'关闭'">
                            Web应用防火墙:{{scope.row[column.prop].waf_enable==="1"?"开启":"关闭" }}
                        </p>
                        <p class="ellipsis turn_left margin5-0">
                            CC防御:{{scope.row[column.prop].ads_enable==="1"?"开启":"关闭"}}
                        </p>
                        <p class="ellipsis turn_left margin5-0">
                            网站替身:{{scope.row[column.prop].mirror_enable==="1"?"开启":"关闭"}}
                        </p>
                        <p class="ellipsis turn_left margin5-0">
                            网站加速:{{scope.row[column.prop].cdn_enable==="1"?"开启":"关闭"}}
                        </p>
                    </span>
                    <span v-else-if="column.type==='website_port'">
                        <p class="ellipsis turn_left margin5-0">
                            http:
                            <span v-for="port in scope.row[column.prop].http_port">{{port}}</span>
                        </p>
                        <p class="ellipsis turn_left margin5-0">
                            https:
                            <span v-for="port in scope.row[column.prop].https_port">{{port}}</span>
                        </p>
                    </span>
                    <span v-else-if="column.type==='source_info'" class="ellipsis" :title="scope.row[column.prop]">
                        <span v-for="item in scope.row[column.prop]">{{item}}</span>
                    </span>
                    <span v-else class="ellipsis" :title="scope.row[column.prop]">{{scope.row[column.prop] | none}}</span>
                </template>
            </el-table-column>
            <slot></slot>
        </el-table>
    </div>
    <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="obj.page"
        :page-sizes="obj.pageSizes" :page-size="obj.page_size" layout="total, sizes, prev, pager, next, jumper" :total="obj.total">
    </el-pagination>
</div>