.cloud-table
    display flex
    flex 1 0 auto
    flex-direction column
    >.table-panel
        display flex
        flex-direction column
        flex 1 0 auto
        overflow hidden
        position relative
        >.el-table
            position absolute
            height auto
            top 0
            bottom 0
            left 0
            right 0
            .margin5-0
                margin 5px 0px
            .turn_left
                text-align left
            .ellipsis
                overflow hidden
                text-overflow ellipsis
                white-space nowrap
    >.el-pagination
        display flex
        height 50px
        align-items center
        justify-content flex-end
        .el-pagination__sizes
            .el-select
                .el-input__inner
                    width 100px
        .el-pagination__jump
            .el-pagination__editor
                .el-input__inner
                    width 30px            
