<div class="cloud-table">
    <div class="table-panel">
        <el-table :data="datas" stripe @selection-change="handleSelectionChange" @sort-change="sortChange" height="200px">
            <slot name="type"></slot>
            <el-table-column v-for="(column,$index) in obj.columns" :label="column.label" :prop="column.prop" v-if="column.show" :width="column.width?column.width:'auto'"
                :sortable="column.sortable?column.sortable:false" align="center" header-align="center" :key="$index">
                <template slot-scope="scope">
                    <span v-if="column.type==='date'" class="ellipsis" :title="scope.row[column.prop] | date |none">{{scope.row[column.prop] | date |none}}</span>
                    <span v-else-if="column.type==='dateTime'" class="ellipsis" :title="scope.row[column.prop] | datetime |none">{{scope.row[column.prop] | datetime |none}}</span>
                    <span v-else-if="column.type==='htmlData'" class="ellipsis" v-html="scope.row[column.prop]">{{scope.row[column.prop]}}</span>
                    <span v-else-if="column.type==='website_server'">
                        <div slot="reference" class="name-wrapper">
                            <p class="ellipsis turn_left margin5-0" :title="scope.row[column.prop].waf_enable==='1'?'Web应用防火墙: 开启':'Web应用防火墙: 关闭'">
                                Web应用防火墙:{{scope.row[column.prop].waf_enable==="1"?"开启":"关闭" }}
                            </p>
                            <p class="ellipsis turn_left margin5-0" :title="scope.row[column.prop].waf_enable==='1'?'CC防御: 开启':'CC防御: 关闭'">
                                CC防御:{{scope.row[column.prop].ads_enable==="1"?"开启":"关闭"}}
                            </p>
                            <p class="ellipsis turn_left margin5-0" :title="scope.row[column.prop].waf_enable==='1'?'网站替身: 开启':'网站替身: 关闭'">
                                网站替身:{{scope.row[column.prop].mirror_enable==="1"?"开启":"关闭"}}
                            </p>
                            <p class="ellipsis turn_left margin5-0" :title="scope.row[column.prop].waf_enable==='1'?'网站加速: 开启':'网站加速: 关闭'">
                                网站加速:{{scope.row[column.prop].cdn_enable==="1"?"开启":"关闭"}}
                            </p>
                        </div>
                    </span>
                    <span v-else-if="column.type==='website_port'">
                        <div slot="reference" class="name-wrapper">
                            <p class="ellipsis turn_left margin5-0" v-if="scope.row[column.prop].http_port.length>0" :title="'http: '+scope.row[column.prop].http_port">
                                HTTP:
                                <span v-for="port in scope.row[column.prop].http_port">{{scope.row[column.prop].http_port.join(",")}}</span>
                            </p>
                            <p class="ellipsis turn_left margin5-0" v-if="scope.row[column.prop].https_port.length>0" :title="'https: '+scope.row[column.prop].https_port">
                                HTTPS:
                                <span v-for="port in scope.row[column.prop].https_port">{{ scope.row[column.prop].https_port.join(",") }}</span>
                            </p>
                        </div>
                    </span>
                    <span v-else-if="column.type==='source_info'" class="ellipsis" :title="scope.row[column.prop]">
                        <span v-for="item in scope.row[column.prop]">{{item}}</span>
                    </span>
                    <span v-else-if="column.type==='notice_status'" class="ellipsis" :title="scope.row[column.prop]">
                        <span :title="scope.row[column.prop].status?'成功':'失败'">
                            {{scope.row[column.prop].status?"成功":"失败"}}
                        </span>
                    </span>
                    <span v-else-if="column.type==='send_type'" class="ellipsis" :title="scope.row[column.prop]">
                        <span :title="scope.row[column.prop].send_type?'系统发送':'人工发送'">
                            {{scope.row[column.prop].send_type === "auto"?"系统发送":"人工发送"}}
                        </span>
                    </span>
                    <span v-else class="ellipsis" :title="scope.row[column.prop]">{{scope.row[column.prop] | none}}</span>
                </template>
            </el-table-column>
            <slot></slot>
        </el-table>
    </div>
    <el-pagination background @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="obj.page"
        :page-sizes="obj.pageSizes" :page-size="obj.page_size" layout="total, sizes, prev, pager, next, jumper" :total="obj.total">
    </el-pagination>
</div>