<el-dialog :visible="dialogVisible" width="340px" top="10%" :before-close="close()" class="dialog-plane">
    <span slot="title" class="dialog-title">
        <span class="iconfont">&#xe63b;</span>
        选择组织机构
    </span>
    <div class="dialog-usermanage">
        <TissueTree @clickNode="clickNode"/>
    </div>
    <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="importOrganization()">确定</el-button>
        <el-button @click="close()">取消</el-button>
    </span>
</el-dialog>
