.dialog-plane
    .el-dialog
        border-radius 20px
        .el-dialog__header
            .iconfont
                color #449dbf
            border-bottom 1px solid #f4f4f4
            text-align left 
            color #00000
            background #f4f4f4            
            border-top-left-radius 20px
            border-top-right-radius 20px
        .el-dialog__body    
            .content-box
                height 400px
                display flex
                .attetion
                    text-align left
                .improt
                    display flex 
                    margin-top 30px
   