.dialog-plane
    >.el-dialog
        .el-dialog__body    
            .dialog-usermanage
                height 300px
                display flex
                .attetion
                    text-align left
                .improt
                    display flex 
                    margin-top 30px
   