.dialog-plane
    >.el-dialog
        .el-dialog__body    
            .import-user
                display flex
                flex-direction column
                .attetion
                    text-align left
                .improt
                    display flex 
                    justify-content space-around
                    margin-top 30px
                    align-items flex-start
                    .el-upload-dragger
                        height 34px
                        width 300px
                        display flex
                        justify-content flex-start
                        align-items center
                        >.el-icon-upload
                            font-size 24px
                            margin 0 30px 

   