.dialog-plane
    >.el-dialog
        border-radius 20px
        .el-dialog__header
            .iconfont
                color #449dbf
            border-bottom 1px solid #f4f4f4
            text-align left 
            color #00000
            background #f4f4f4            
            border-top-left-radius 20px;
            border-top-right-radius 20px;
        .el-dialog__body    
            .content-box
                display flex
                flex-direction column
                .attetion
                    text-align left
                .improt
                    display flex 
                    justify-content space-around
                    margin-top 30px
                    align-items flex-start
                    .el-upload-dragger
                        height 34px
                        width 300px
                        display flex
                        justify-content flex-start
                        align-items center
                        >.el-icon-upload
                            font-size 24px
                            margin 0 30px 

   