<div class="top-menu">
    <ul class="nav-menu">
        <router-link 
        active-class="active" 
        v-for="(item, $index) in routerStore" 
        :key="$index" 
        :to="item.path" 
        replace tag="li" 
        v-if="item.meta&&!item.meta.hidden"
        v-permissions="item.meta.permission"
        >
            <div>{{item.name}}</div>
        </router-link>
        <li @click="situation" v-permissions="'SituationalAwareness'">
            <a target="_blank" href="http://localhost:8080/#/situation">
                态势感知
            </a>
        </li>
    </ul>
</div>