@import "../../resource/var.styl" 
  
html,body
    margin 0
    padding 0
    >.panel
        display flex
        flex-direction column
        height 100vh
        >.same-level
            display flex
            flex 1 0 auto