
.report-operation-form
    width 600px
    >.report-form-checkbox
        >.el-form-item__content
            >div
                text-align left
                >.el-checkbox
                    margin  0px  10px !important   
            >.report-form-checkbox-common
                display flex
                flex-wrap wrap
                flex-direction row
    >.el-collapse
        >.el-collapse-item
            >div
                >.el-collapse-item__header
                    padding-left 30px 
                    font-size 14px
                    color #606266      
                    text-align left     

                     

