@import "../../../../resource/mixins.styl"

.logs-detail
    common-panel(0,20px)
    >.detail-content
        position absolute
        display flex
        flex-direction column
        width 100%
        >.detail-box
            >.content-box
                >.comman
                    height 30px
                    text-align left 
                    font-size: 14px
                    line-height 30px
                >.data-box
                    background #F4F5F7
                >.label-box
                    font-weight 700
        >.logs-button
            width 75px
            margin-top 30px
            background #45ceFd
            border-color #4CADDA                

     