<div class="left-menu-panel">
    <div class="list-menu">
        <el-menu default-active="1-4-1" class="left-menu" @open="handleOpen" @close="handleClose" :collapse="IsCollapse">
            <template v-for="(menu,$index) in menus">
                <el-submenu v-show="menu.children" :index="menu.path">
                    <template slot="title">
                        <i class="el-icon-location"></i>
                        <span slot="title">{{menu.name}}</span>
                    </template>

                    <template v-for="(menu,$index) in menu.children">
                        <el-menu-item :index="menu.path">
                            <i class="iconfont">&#xe616;</i>
                            <span slot="title">{{menu.name}}</span>
                        </el-menu-item>
                    </template>


                </el-submenu>
                <el-menu-item v-show="!menu.children" :index="menu.path">
                    <i class="el-icon-menu"></i>
                    <span slot="title">{{menu.name}}</span>
                </el-menu-item>

            </template>
        </el-menu>
    </div>
    <div class="back" @click="toggleMenu">
        <span class="iconfont" :style="{transform:`rotate(${flex})`}">&#xe60c;</span>
        <span v-if="flex==='0deg'">导航</span>
    </div>
</div>