<div class="left-menu-panel">
    <div class="list-menu">
        <el-menu 
            active-text-color="#ffffff" 
            :default-active="defaultIndex" 
            :unique-opened="true"
            class="left-menu" 
            @open="handleOpen" 
            @close="handleClose" 
            :collapse="IsCollapse">
            <template v-for="(menu,$index) in menus">
                <el-submenu v-show="menu.children" :index="menu.name">
                    <template slot="title">
                        <i class="iconfont" :class="menu.meta.icon"></i>
                        <span slot="title">{{menu.name}}</span>
                    </template>

                    <template v-for="(menu,$index) in menu.children">
                        <el-menu-item :index="menu.name" @click="go(menu)">
                            <i class="iconfont" :class="menu.meta.icon"></i>
                            <span slot="title">{{menu.name}}</span>
                        </el-menu-item>
                    </template>
                </el-submenu>
                <el-menu-item v-if="menu.meta&&!menu.meta.hidden" v-show="!menu.children" :index="menu.name" @click="go(menu)" :style="{'background':defaultIndex === menu.name?'#1f4c6f':''}">
                    <i class="iconfont" :class="menu.meta.icon"></i>
                    <span slot="title">{{menu.name}}</span>
                </el-menu-item>
            </template>
        </el-menu>
    </div>
    <div class="back" @click="toggleMenu">
        <span class="iconfont" :style="{transform:`rotate(${flex})`}">&#xe60c;</span>
        <span v-if="flex==='0deg'">导航</span>
    </div>
</div>