.app-levelbar.el-breadcrumb
  // width 100%
  font-size 14px
  line-height 40px
  display  flex
  align-items  center
  padding-left 18px
  background  #fff
  .iconfont
    font-size  18px
    color #449dbf
  .el-breadcrumb__item 
    font-size  14px
    cursor  pointer
    .el-breadcrumb__inner
      margin-left: 5px;
      .no-redirect
        color: #449dbf;
        cursor: text;
    & last-child 
      font-size  14px
      .no-redirect 
        color  #449dbf
        cursor  text
      
    
    & first-child 
      font-size  14px
      .no-redirect 
        color  #565656
        cursor  text
      
    
  
