<div>
    <el-table :data="list"  border style="width: 100%" :default-sort = "{prop: 'username', order: 'descending'}">
        <el-table-column v-if="type"
        :type="type"  
        :selectable="selectable"
        width="65" 
        label="序号"
        >
        </el-table-column>

        <el-table-column :key='item.col'  v-for='(item,index) in tableHeader' :label="item.name" :prop="item.sort" :sortable="!!item.sort" >
            <template slot-scope="scope">
               <div :class="scope.row[item.classname]">{{scope.row[item.col]}}</div>
            </template>
        </el-table-column>

        <slot></slot>

  </el-table>

  <div class="pagination-container text-right" v-show="!listLoading&&pagequery.total>0">
    <el-pagination 
      @size-change="sizeChange" 
      @current-change="pageChange" 
      :current-page="pagequery.pageIndex" 
      :page-sizes="pagequery.pageSizes || pageSizes" 
      :page-size="pagequery.pageRows" 
      layout="total, sizes, prev, pager, next, jumper" 
      :total="pagequery.total">
    </el-pagination>
  </div>
</div>
