<div class="system-template-panel">
    <div class="system-inner-template">
        <div class="message-notice">
            <ModuleTitle :titles="titles" />
            <el-form :inline="true" :model="filter" class="demo-form-inline" label-width="80px" size="small">
                <el-form-item label="关键字">
                    <el-input v-model="filter.key_word" placeholder="请输入关键字"></el-input>
                </el-form-item>
                <el-form-item label="发送方式">
                    <el-select v-model="filter.send_type" placeholder="状态" size="small">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="人工发送" value="manual"></el-option>
                        <el-option label="系统发送" value="auto"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="访问时间">
                    <el-date-picker :clearable="false" v-model="filter.send_date" type="daterange" value-format="yyyyMMdd" range-separator="至"
                        start-placeholder="开始日期" end-placeholder="结束日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="发送状态">
                    <el-select v-model="filter.status" placeholder="状态" size="small">
                        <el-option label="全部" value=""></el-option>
                        <el-option label="发送成功" value="1"></el-option>
                        <el-option label="发送失败" value="0"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-button v-permissions="'SystemManagement.SMSNotification.Check'" size="small" type="primary" icon="el-icon-search" @click="search">搜索</el-button>
                    <el-button size="small" @click="reset">重置</el-button>
                </el-form-item>
            </el-form>
            <div class="btn-group">
                <div>
                    <div class="btn-first">
                        <el-button type="primary" v-permissions="'SystemManagement.NoticeManagement.SMSNotification.Add'" @click="write" size="small">
                            <span class="iconfont">&#xe61a;</span>
                            写短信
                        </el-button>
                        <el-button type="primary" v-permissions="'SystemManagement.NoticeManagement.SMSNotification.Delete'" @click="del()" size="small">
                            <span class="iconfont">&#xe61a;</span>
                            删除
                        </el-button>
                    </div>
                </div>
                <div class="btn-last">
                    <SetCol moduleName="msgtable" />
                </div>
            </div>
            <CloudTable moduleName="msgtable" :datas="MessageNoticetableData" @handleSizeChange="handleSizeChange" @handleCurrentChange="handleCurrentChange"
                @handleSelectionChange="handleSelectionChange" @sortChange="sortChange">
                <el-table-column fixed type="selection" width="55" slot="type" align="center">
                </el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <span>
                            <span>
                                <p v-permissions="'SystemManagement.SMSNotification.Check'" style="cursor:pointer" @click="look({$index:scope.$index, row:scope.row})"
                                    class="ellipsis  margin5-0">
                                    查看详情
                                </p>
                            </span>
                            <span>
                                <p v-permissions="'SystemManagement.SMSNotification.Delete'" style="cursor:pointer" @click="del({$index:scope.$index, row:scope.row})"
                                    class="ellipsis  margin5-0">
                                    删除
                                </p>
                            </span>
                        </span>
                    </template>
                </el-table-column>
            </CloudTable>
        </div>
    </div>
</div>