@import "var.styl" 

.el-container-panel
    >.el-container
        flex-direction column
    >.home-box
        width 100%
        background #f4f5f7
        .home-title
            background: #ffffff
            height 45px
            line-height 45px
            font-size 14px
            padding-left 10px
            >.title-button
                background #DBDBDB
                border-color #cecece
                width 78px
                margin-left 10px
                color #888888
        .home
            margin-top 30px !important
            margin 0 20px
            background-color #ffffff
            display flex
            flex 1 0 auto
            position relative
            overflow auto