<div class="login_panel" @keyup.enter="onSubmit">
    <div class="login_title">
        <div class="login_line">
            <div class="loginline"></div>
            <div class="line left"></div>
        </div>
        <img v-if="env==='operation'" :src="operation_logo" />
        <img v-if="env==='portal'" :src="portal_logo" />
        <div class="login_line">
            <div class="loginline"></div>
            <div class="line right"></div>
        </div>
    </div>
    <div class="login_main">
        <div v-if="env==='portal'" class="login_image_portal">
            <img :src="protal_banner" />
        </div>
        <div v-if="env==='operation'" class="login_image_operation">
            <img :src="operation_banner" />
        </div>
        <div class="login_fn">
            <img :src="form_frame" />
            <div class="login_fn_panel">
                <el-form :model="form" class="form">
                    <el-form-item label="" class="inline-panel">
                        <el-input v-model="form.username" placeholder="账号">
                            <i slot="append" class="iconfont icon-yonghu"></i>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="" class="inline-panel">
                        <el-input type="password" v-model="form.pwd" placeholder="密码">
                            <i slot="append" class="iconfont icon-yuechi"></i>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="" class="inline-panel">
                        <el-input class="yzm" type="text" v-model="form.captcha_id" placeholder="验证码">
                        </el-input>
                        <div class="yzm_image" @click="changeCode">
                            <img :src="ubase64" />
                        </div>
                    </el-form-item>
                    <el-button class="login_btn" type="primary" @click="onSubmit">登录</el-button>
                </el-form>
            </div>
        </div>
    </div>
    <FooterComponent />
</div>