<div class="website-manage">
    <div class="form-part">
        <ModuleTitle :titles="titles" />
        <el-form :inline="true" :model="filter" class="demo-form-inline" label-width="80px" size="small">
            <el-form-item label="网站名称">
                <el-input v-model="filter.name" placeholder="请输入网站名称"></el-input>
            </el-form-item>
            <el-form-item label="网站域名">
                <el-input v-model="filter.domain" placeholder="请输入网站域名" size="small"></el-input>
            </el-form-item>
            <el-form-item label="创建人">
                <el-input v-model="filter.cperson" placeholder="请输入创建人" size="small"></el-input>
            </el-form-item>
            <el-form-item label="所属企业">
                <el-input v-model="filter.organization" placeholder="请输入所属企业" size="small"></el-input>
            </el-form-item>
            <el-form-item label="协议类型">
                <el-select v-model="filter.protocol" placeholder="状态" size="small">
                    <el-option label="全部" value=""></el-option>
                    <el-option label="HTTP" value="HTTP"></el-option>
                    <el-option label="HTTPS" value="HTTPS"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="回源方式">
                <el-select v-model="filter.source_type" placeholder="状态" size="small">
                    <el-option label="全部" value=""></el-option>
                    <el-option label="回源IP" value="A"></el-option>
                    <el-option label="回源域名" value="CNAME"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="回源地址">
                <el-input v-model="filter.source_info" placeholder="请输入回源地址" size="small"></el-input>
            </el-form-item>
            <el-form-item label="添加时间">
                <el-date-picker value-format="yyyyMMdd" v-model="filter.ctime" type="date" size="small" placeholder="选择添加时间">
                </el-date-picker>
            </el-form-item>
            <el-form-item label="接入状态">
                <el-select v-model="filter.state" placeholder="状态" size="small">
                    <el-option label="全部" value=""></el-option>
                    <el-option label="未接入" value="0"></el-option>
                    <el-option label="服务中" value="2"></el-option>
                    <el-option label="已到期" value="3"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="防御状态">
                <el-select v-model="filter.open_waf" placeholder="状态" size="small">
                    <el-option label="全部" value=""></el-option>
                    <el-option label="回源" value="0"></el-option>
                    <el-option label="防御" value="1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button size="small" type="primary" icon="el-icon-search" @click="search">搜索</el-button>
                <el-button size="small" @click="reset">重置</el-button>
            </el-form-item>
        </el-form>
        <div class="btn-group">
            <div>
                <div class="btn-first">
                    <el-button v-permissions="'WebsiteManagement.MyWebsite.Add'" type="primary" @click="handle('add')" size="small">
                        <span class="iconfont">&#xe61a;</span>
                        添加
                    </el-button>
                    <el-button v-permissions="'WebsiteManagement.MyWebsite.OpenDefense'" type="primary" @click="openwaf('openWaf')" size="small">
                        <span class="iconfont">&#xe61b;</span>
                        开启防御
                    </el-button>
                    <el-button v-permissions="'WebsiteManagement.MyWebsite.BatchReturn'" type="primary" @click="openwaf('openSource')" size="small">
                        <span class="iconfont">&#xe61b;</span>
                        批量回源
                    </el-button>
                    <el-button v-permissions="'WebsiteManagement.MyWebsite.ExportSelection'" type="primary" size="small" @click="exportChoose('selected')">
                        <span class="iconfont">&#xe61e;</span>
                        <span>导出</span>
                    </el-button>
                    <el-button type="primary" size="small" @click="exportAll()">
                        <span class="iconfont">&#xe61e;</span>
                        <span>导出所有</span>
                    </el-button>
                </div>
                <div class="btn-test">
                    已使用{{ userMessage.used_domain_num|none }}个，剩余{{ userMessage.max_domain_num-userMessage.used_domain_num |none}}个可用，总共{{ userMessage.max_domain_num
                    |none}}个
                </div>
            </div>
            <div class="btn-last">
                <SetCol moduleName="mywebsitetable" />
            </div>
        </div>
        <CloudTable moduleName="mywebsitetable" :datas="websitetableData" @handleSizeChange="handleSizeChange" @handleCurrentChange="handleCurrentChange"
            @handleSelectionChange="handleSelectionChange" @sortChange="sortChange">
            <el-table-column fixed type="selection" width="55" slot="type" align="center">
            </el-table-column>
            <el-table-column label="接入状态" align="center">
                <template slot-scope="scope">
                    <span>
                        <span>
                            {{scope.row.state}}
                            <el-button size="small" type="primary" @click="stateCheck(scope.row)">
                                验证
                            </el-button>
                        </span>
                    </span>
                </template>
            </el-table-column>

            <el-table-column label="操作" align="center">
                <template slot-scope="scope">
                    <span>
                        <span>
                            <p style="cursor:pointer" v-if="scope.row.is_edite" @click="handle('settings',{$index:scope.$index, row:scope.row})" class="ellipsis  margin5-0">
                                设置
                            </p>
                            <p style="cursor:pointer" @click="handle('look',{$index:scope.$index, row:scope.row})" class="ellipsis  margin5-0">
                                详情
                            </p>
                            <p style="cursor:pointer" v-if="scope.row.is_edite" @click="handle('editor',{$index:scope.$index, row:scope.row})" class="ellipsis  margin5-0">
                                编辑
                            </p>
                            <p style="cursor:pointer" v-if="scope.row.is_delete" @click="handle('del',{$index:scope.$index, row:scope.row})" class="ellipsis  margin5-0">
                                删除
                            </p>
                        </span>
                    </span>
                </template>
            </el-table-column>
        </CloudTable>
    </div>
</div>