.system_error
    display flex
    flex 1 0 auto
    .system_error_panel
        display flex
        justify-content center
        align-items center
        flex 1 0 auto
        >.system_error_detail
            margin-left 40px
            >.p
                color #cecece
                font-size 20px