@font-face 
    font-family icomoon
    src url('./fonts/icomoon.ttf?ui1hbx') format('truetype'), url('./fonts/icomoon.woff?ui1hbx') format('woff'), url('./fonts/icomoon.svg?ui1hbx#icomoon') format('svg')
    font-weight normal
    font-style normal


 
.vue-tree-icon-wy 
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.item-icon-wy 
        margin-right: 4px;
        &:hover 
            color: inherit;
        
    
    &:hover 
        color: blue;
    

.icon-file-wy:before 
    content: "\e906";

.icon-folder-wy:before 
    content: "\e907";

.icon-caret-down-wy:before 
    content: "\e900";

.icon-caret-right-wy:before 
    content: "\e901";

.icon-edit-wy:before 
    content: "\e902";

.icon-folder-plus-e-wy:before 
    content: "\e903";

.icon-plus-wy:before 
    content: "\e904";

.icon-trash-wy:before 
    content: "\e905";

.border-wy 
    height: 5px;
    &.up 
        margin-top: -5px;
        background-color: transparent;
    
    &.bottom 
        background-color: transparent;
    
    &.active 
        border-bottom: 3px dashed blue;
        /*background-color: blue;*/
    

.tree-node-wy 
    display: flex;
    align-items: center;
    padding: 5px 0 5px 1rem;
    .input 
        border: none;
        max-width: 150px;
        border-bottom: 1px solid blue;
    
    &:hover 
        background-color: #f0f0f0;
    
    .active
        outline: 2px dashed pink;
    
    .caret 
        margin-left: -1rem;
    
    .operation 
        margin-left: 2rem;
        letter-spacing: 1px;
    

.tree-margin-wy 
    margin-left: 2em;

.item 
    cursor: pointer;
    
