<div @keyup.enter.stop = "uesedit($event)">
  <div v-if="model.name !== 'root'">
    <div class="border-wy  up" :class="{'active': isDragEnterUp}"
      @drop="dropUp"
      @dragenter="dragEnterUp"
      @dragover='dragOverUp'
      @dragleave="dragLeaveUp"></div>

    <div class='tree-node-wy' :id='model.id' :class="{'active': isDragEnterNode}"
      draggable="true"
      @click=""
      @dragstart='dragStart'
      @dragover='dragOver'
      @dragenter='dragEnter'
      @dragleave='dragLeave'
      @drop='drop'
      @dragend='dragEnd'
      @mouseover='mouseOver'
      @mouseout='mouseOut'>
      <span class="caret icon is-small" v-if="model.children && model.children.length > 0">
        <i class="vue-tree-icon-wy" :class="caretClass" @click.prevent.stop="toggle"></i>
      </span>

      <span v-if="model.isLeaf">
        <slot name="leafNodeIcon">
          <i class="vue-tree-icon-wy item-icon-wy icon-file-wy"></i>
        </slot>
      </span>
      <span v-else>
        <slot name="treeNodeIcon">
          <i class="vue-tree-icon-wy item-icon-wy icon-folder-wy"></i>
        </slot>
      </span>

      <div class="node-content" v-if="!editable">
        {{model.name}}
      </div>
      <input v-else class="vue-tree-input" type="text" ref="nodeInput" :value="model.name" @input="updateName" @blur="setUnEditable" v-focus="isfocus">
      <div class="operation" v-show="isHover">
        <span title="add tree node" @click.stop.prevent="addChild(false)" v-if="!model.isLeaf">
          <slot name="addTreeNode">
            <i class="vue-tree-icon-wy icon-folder-plus-e-wy"></i>
          </slot>
        </span>
        <span title="add tree node" @click.stop.prevent="addChild(true)" v-if="!model.isLeaf">
          <slot name="addLeafNode">
            <i class="vue-tree-icon-wy icon-plus-wy"></i>
          </slot>
        </span>
        <span title="edit" @click.stop.prevent="setEditable">
          <slot name="edit">
            <i class="vue-tree-icon-wy icon-edit-wy"></i>
          </slot>
        </span>
        <span title="delete" @click.stop.prevent="delNode">
          <slot name="edit">
            <i class="vue-tree-icon-wy icon-trash-wy"></i>
          </slot>
        </span>
      </div>
    </div>

    <div v-if="model.children && model.children.length > 0 && expanded"
      class="border-wy bottom"
      :class="{'active': isDragEnterBottom}"
      @drop="dropBottom"
      @dragenter="dragEnterBottom"
      @dragover='dragOverBottom'
      @dragleave="dragLeaveBottom"></div>
  </div>

  <div :class="{'tree-margin-wy': model.name !== 'root'}" v-show="expanded" v-if="isFolder">
    <vue-tree-list v-for="model in model.children"
      :default-tree-node-name="defaultTreeNodeName"
      :default-leaf-node-name="defaultLeafNodeName"
      :model="model"
      :key='model.id'>
    </vue-tree-list>
  </div>
</div>
