.user-menu
    display flex
    >.down-menu
        >.el-dropdown
            color #ffffff
            >.el-dropdown-link
                cursor pointer
    >.exit
        color #ffffff
        width 66px
        cursor pointer
    >.notice
        color #ffffff
        position relative
        width 66px
        cursor pointer
        >.item
            >.iconfont
                    font-size 24px
            >.el-badge__content
                top 15px
.user-notice
    height 150px
    overflow auto
    padding 0 0 !important
    >.user-popover
        padding 12px 0
        >.item-box
            line-height: 36px;
            padding: 0 20px;
            margin: 0;
            font-size: 14px;
            color: #606266;
            cursor: pointer;
            outline: 0;
            text-align: center
        >.item-box:hover
            background-color: #ecf5ff;
            color: #66b1ff;                         



