.user-menu
    display flex
    >.down-menu
        >.el-dropdown
            color #ffffff
            >.el-dropdown-link
                cursor pointer
    >.exit
        color #ffffff
        width 66px
        cursor pointer
    >.notice
        color #ffffff
        position relative
        width 66px
        cursor pointer
        >.el-dropdown
            >.el-dropdown-link
                >.el-badge
                    color: #ffffff
                    >.iconfont 
                        font-size 24px
                    .el-badge__content.is-fixed
                        top 15px

