   
        .public-title
            display: flex
           .title
                height: 60px;
                line-height: 80px;
                font-size 35px
                font-weight 700
            .time
                margin-left 20px
                font-size: 14px
                height: 60px;
                line-height: 93px;
            .date
                margin-left 10px
                font-size: 14px
                height: 60px;
                line-height: 93px;
