@import "../../../../resource/mixins.styl"

.message-notice
    common-panel(0,20px)
    // flex-wrap wrap
    >.form-part
        width 100%
        display flex
        flex 0 1 auto
        flex-direction column
        .el-input__inner
            width 200px
        .el-date-editor
            width auto !important
        // margin-right 20px
        // flex-wrap wrap
        >.btn-group
            display flex
            flex 0 0 auto
            justify-content space-between
            align-items center
            >div
                display flex
                cursor pointer
        >.el-form--inline
            display flex
            flex 0 1 auto
            flex-wrap wrap
            >.el-form-item
                >.el-form-item__content
                    width 200px
                    >.el-date-editor 
                        >.el-range__close-icon
                                position absolute
                                right 0
                                top 0
                &:last-child
                    padding-left 20px
        >.cloud-table
            >.table-panel
                >.websiteOperate
                    display flex
                    >i
                        font-size 14px            
