@import "var.styl" 

.el-container-panel
    >.el-container
        flex-direction column
        >.el-main
            padding 0 0
            background-color $footer-color
            color #333
            text-align center
            display flex
            flex 1 0 auto
            flex-wrap wrap
            flex-direction column